name: Build Helium Debug

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "v*.*.**"
  pull_request:

env:
  XCODE_VERSION: '15.1'
  TIME: ''
  BRANCH_NAME: ''
  COMMIT_HASH: ''
  SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
  SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
  SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
  SENTRY_DSN: ${{ secrets.SENTRY_DSN }}

jobs:
  build:
    runs-on: macos-13

    steps:
      - name: Setup Xcode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ${{ env.XCODE_VERSION }}

      - name: Install Homebrew dependencies
        run: |
          HOMEBREW_NO_AUTO_UPDATE=1 HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK=1 brew install --overwrite dpkg ldid make libplist openssl@3 getsentry/tools/sentry-cli
          echo "/usr/local/opt/make/libexec/gnubin" >> $GITHUB_PATH

      - name: Install Sentry dependencies
        run: |
          gem install cocoapods

      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: Helium
          submodules: recursive
  
      - name: Setup build environment
        run: |
          sT=$(TZ=UTC-8 date +'%S')
          echo "BRANCH_NAME=$(git rev-parse --abbrev-ref HEAD)" >> $GITHUB_ENV
          echo "COMMIT_HASH=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
          echo "TIME=$(TZ=UTC-8 date +'%Y-%m-%d %H:%M'):${sT}" >> $GITHUB_ENV
          cd $GITHUB_WORKSPACE/Helium
          echo "SENTRY_ORG=$SENTRY_ORG" > .env
          echo "SENTRY_PROJECT=$SENTRY_PROJECT" >> .env
          echo "SENTRY_AUTH_TOKEN=$SENTRY_AUTH_TOKEN" >> .env
          echo "SENTRY_DSN=$SENTRY_DSN" >> .env

      - name: Make IPA
        run: |
          cd $GITHUB_WORKSPACE/Helium
          ./build.sh --debug

      - name: Collect symbols
        run: |
          cd $GITHUB_WORKSPACE/Helium
          find Helium.xcarchive/dSYMs -name "*.dSYM" -print | zip -r packages/Helium_symbols.zip -@

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Helium.tipa
          path: ${{ github.workspace }}/Helium/packages/Helium.tipa

      - name: Upload symbols
        uses: actions/upload-artifact@v4
        with:
          name: Helium_symbols
          path: ${{ github.workspace }}/Helium/packages/Helium_symbols.zip

      - name: Upload testing release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/heads/test')
        with:
          name: build ${{ env.COMMIT_HASH }}-${{ env.BRANCH_NAME }}
          token: ${{ secrets.GITHUB_TOKEN }}
          body: build time ${{ env.TIME }}
          tag_name: ${{ env.COMMIT_HASH }}-${{ env.BRANCH_NAME }}
          generate_release_notes: true
          prerelease: true
          target_commitish: ${{ github.sha }}
          files: |
            ${{ github.workspace }}/Helium/packages/Helium.tipa
